.profile-container {
  border: 0;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  .card-img-left {
    width: 45%;
    background: scroll center url("/assets/images/blue-mountain.png");
    background-size: cover;
  }
  .profile {
    padding: 2rem;
    text-align: center;
    .profile-image {
      max-width: 10rem;
      border-radius: 50%;
    }
    .name {
      font-weight: 500;
      font-size: 1.7em;
      margin-top: 1rem;
    }
    .position {
      font-weight: 300;
      font-size: 1.2em;
    }
    .about {
      margin-top: 2rem;
      .more {
        margin-top: -1.4rem !important;
      }
    }
    .contact-section {
      margin-top: 3rem;
      .item {
        i {
          margin-right: 0.5rem;
          color: #22569f;
        }
        a {
          color: black;
        }
        @media only screen and (max-width: 576px) {
          margin-bottom: 1rem;
          // &.email {
          //   margin-left: -2rem;
          // }
          // &.skype {
          //   margin-left: -2.5rem;
          // }
        }
      }
    }
    .social-accounts-section {
      margin-top: 1.5rem;
    }
    .footer-section {
      font-size: 0.9em;
      p {
        margin-top: 0rem;
        margin-bottom: 0rem;
      }
    }
  }
}
